.heading
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%
}

.logo
{
    width: 5%;
    height: 10%;
    border-style: solid;
    border-width: 10%;
    border-color: black;
    text-align: center;
    border-right: 10%;
    border-left: none;
    border-top: none;
    border-bottom: none;
    
}

.search-bar
{
    width: 40%;
    height: 20%;
    border-style: solid;
    border-width: 20%;
    border-color: black;
    border-radius: 5%;
}

.basket
{
    width: 10%;
    height: 10%;
    border-style: solid;
    border-width: 10%;
    border-color: black;
    text-align: center;
    border-left: 10%;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.nav-bar-1
{
    display: flex;
    justify-content:baseline;
    align-items: center;
}

.hamburger-icon
{
    margin-left: 0;
    text-align: center;
    width: 5%;
    height: 6%;
    border-style: solid;
    border-left: none;
    border-bottom: none;
    border-color: black;
}

.main-nav-1
{
    width: 95%;
    height: 10%;
    border-style: solid;
    border-color: black;
    border-left:none;
    border-bottom: none;
    border-right:none;
    text-align: center;
}

.nav-bar-2
{
    display: flex;
    justify-content:baseline;
    align-items: center;
}

.main-nav-2
{
    width: 100%;
    height: 10%;
    border-style: solid;
    border-color: black;
    border-left:none;
    text-align: center;
    border-right:none;
}

.product.page
{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.product1
{
    text-align: center;
    width: 10%;
    height: 20%;
    border-style:solid;
    border-color: black;
}